body{
  width: 90%;
  margin: 0 auto;
  /*what are these doing pg 386*/
}

h1 {
  display: block;
  color: white;
  height: 30px;
  width: 200px;
}

#nav, #footer {
  margin: 1%;
  padding: 0.5em 0;
  /*the 0 after the size em made this styling go back to what it was before, what is the point of it?*/
  color: white;
}

li {
  display: inline;
  /*why did the display not get reecognized in the #nav. styling?*/
  padding: 0.5em 0;
  /*the 0 after the size em made this styling go back to what it was before, what is the point of it?*/
}

h2 {
  display: block;
  color: white;
  height: 20px;
  width: 200px;
}

img {
  width: 50%;
  float: left;
  margin-bottom: 1em;
}

#content {
  height: 10em;
  width: 50%;
  float: right;
  color: white;
  margin-bottom: 1em;
  margin-left: ; /*?*/
}
